<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.fileme.domain.mapper.FolderTrashMapper">

    <insert id="create">
        insert into folder_trash(folder_id, origin)
        select data_id, parent_id from v_user_drive
        where data_type = 0
        and user_id = #{userId}
        and data_id in
        <foreach collection="folderIds" item="folderId" open="(" separator="," close=")">
            #{folderId}
        </foreach>
    </insert>

    <update id="recover">
        update folder f join folder_trash t on f.folder_id = t.folder_id
        set f.parent_id = t.origin
        where user_id = #{userId}
        and f.folder_id in
        <foreach collection="folderIds" item="folderId" open="(" separator="," close=")">
            #{folderId}
        </foreach>
    </update>

    <select id="conflictCheckBeforeRecover" resultType="java.lang.Integer">
        select count(1) from folder f
        left join folder_trash t on f.parent_id = t.origin
        where f.user_id = #{userId}
        and f.folder_id != 999
        and f.folder_id = #{folderId}
        and f.folder_name = (select folder_name from folder where folder_id = #{folderId})
    </select>

</mapper>