<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.fileme.domain.mapper.TrashMapper">

    <insert id="insertFromFolders">
        insert into trash(data_id, user_id, origin, data_type)
        select folder_id, user_id, parent_id, 0
        from folder
        where folder_id in
        <foreach collection="folderIds" item="folderId" open="(" separator="," close=")">
            #{folderId,jdbcType=BIGINT}
        </foreach>
    </insert>

    <insert id="insertFromFiles">
        insert into trash(data_id, user_id, origin, data_type)
        select file_id, user_id, folder_id, 1
        from file_data
        where file_id in
        <foreach collection="fileIds" item="fileId" open="(" separator="," close=")">
            #{fileId,jdbcType=BIGINT}
        </foreach>
    </insert>

    <update id="findOriginFolders">
        update folder f join trash t on f.folder_id = t.data_id
        set f.parent_id = t.origin
        where folder_id in
        <foreach collection="folderIds" item="folderId" open="(" separator="," close=")">
            #{folderId,jdbcType=BIGINT}
        </foreach>
    </update>

    <update id="findOriginFiles">
        update file_data file join trash t on file.file_id = t.data_id
        set file.folder_id = t.origin
        where file_id in
        <foreach collection="fileIds" item="fileId" open="(" separator="," close=")">
            #{fileId,jdbcType=BIGINT}
        </foreach>
    </update>

</mapper>