<!DOCTYPE html>
<html lang="zh-Hant-TW" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FileMe - 設定新密碼</title>
</head>
<body>
<form th:action="@{/reset}" method="post">
    <ul>
        <li><span>設定新密碼</span></li>
        <li><input type="password" name="password" required></li>
        <li><span>確認新密碼</span></li>
        <li><input type="password" name="validation" required></li>
        <li><input type="submit" value="送出"></li>
    </ul>
  <input type="hidden" name="token" value="${token}">
</form>
</body>
</html>